<body>
    <div class="page">
        <header class="header">
            <a routerLink="/main" class="header__link">
                <img src="assets/Img/back-arrow.svg" alt="back-arrow" class="header__back" width="27">
            </a>

            <a routerLink="/main" class="header__logo">
                <img src="assets/Img/logo.png" alt="Ufield Logo" class="header__img" width="100">
            </a>

            <nav class="nav">
                <button class="nav__toggle"><img src="assets/Img/menu.png" alt="Menu" width="20"></button>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="documentation.html">How To Use App</a>
                    </li>
                    <li class="nav__item">
                        <a href="message.html">Create a Message</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">log Out</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="main">
            <section class="message">
                <h1 class="message__caption">Message</h1>

                <label class="message__label" for="message">Enter your message:</label>
                <textarea class="message__textarea"  id="message" name="message" rows="20" cols="35">
                </textarea>

                <div class="message__cover">
                    <button type="submit" class="message__submit">Send</button>
                </div>
            </section>
        </main>

        <footer class="footer"></footer>
    </div>
</body>
