<body>
    <div class="page">
        <header class="header">
            <a href="#" class="header__link"></a>

            <a routerLink="/login" class="header__logo">
                <img src="/src/assets/Img/logo.png" alt="Ufield Logo" class="header__img" width="100">
            </a>

            <nav class="nav">
                <button class="nav__toggle"><img src="/src/assets/Img/menu.png" alt="Menu" width="27" height="25"></button>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a routerLink="/documentation">How To Use App</a>
                    </li>
                    <li class="nav__item">
                        <a routerLink="/message">Create a Message</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">log Out</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="main">
            <section class="first-screen">
                <h1 class="first-screen__caption">Please, answer the following questions:</h1>
                <form class="first-screen__form">
                    <label for="secret-question" class="sign-up__label">
                        Question 1: Mother's maiden name?
                    </label><br>
                    <label for="secret-answer" class="sign-up__label">
                        <input type="text" 
                            name="secret-answer" 
                            id="secret_answer" 
                            value="" 
                            maxlength="30"/>
                    </label><br>

                    <label for="secret-question" class="sign-up__label">
                        Secret Question 2: Name of town where you were born?
                    </label><br>
                    <label for="secret-answer" class="sign-up__label">
                        <input type="text" 
                            name="secret-answer" 
                            id="secret_answer" 
                            value="" 
                            maxlength="30"/>
                    </label><br>

                    <label for="secret-question" class="sign-up__label">
                        Secret Question 3: Name of first pet?
                    </label><br>
                    <label for="secret-answer" class="sign-up__label">
                        <input type="text" 
                            name="secret-answer" 
                            id="secret_answer" 
                            value="" 
                            maxlength="30"/>
                    </label><br>
                    <button class="first-screen__submit" type="submit">Sign in</button>
                </form>
            </section>
        </main>

        <footer class="footer"></footer>
    </div>
</body>
