<body>
    <div class="page">
        <header class="header">
            <a href="#" class="header__link"></a>

            <a routerLink="/main" class="header__logo">
                <img src="Img/Logo.png" alt="Ufield Logo" class="header__img" width="100">
            </a>

            <nav class="nav">
                <button class="nav__toggle"><img src="Img/menu.png" alt="Menu" width="27" height="25"></button>

                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#">Dark/Light Mode</a>
                    </li>
                    <li class="nav__item">
                        <a href="documentation.html">How To Use App</a>
                    </li>
                    <li class="nav__item">
                        <a href="message.html">Create a Message</a>
                    </li>
                    <li class="nav__item">
                        <a href="#">log Out</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main class="main">
            <section class="submit">
                <h1 class="submit__caption">Submit</h1>
                <video class="submit__camera" autoplay></video>
                <button class="submit__button" type="submit">Submit</button>
            </section>
        </main>

        <footer class="footer"></footer>
    </div>
</body>
