<body>
  <div class="page">
    <div [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
      <header class="header">
        <a routerLink="/" class="header__logo">
          <img src="assets/Img/logo.png" alt="United Logo" class="header__image" width="100" height="30">
        </a>

        <nav class="nav">
          <button (click)="toggleTheme()" class="nav__mode" type="button">Mode</button>
        </nav>
      </header>

      <main class="main">
        <section class="first-screen">
          <h1 class="first-screen__caption">Sign in here</h1>
          <form class="first-screen__form">
            <label class="first-screen__label" for="email"><br>
              Email<br>
              <input type="email" class="first-screen__input" name="email" required>
              <a routerLink="/forgot" class="first-scdreen__link">
                Forgot Email?
              </a>
            </label>

            <label class="first-screen__label" for="password"><br>
              Password
              <input id="password" type="password" class="first-screen__input" name="password" required>
              <a routerLink="/forgot" class="first-scdreen__link">
                Forgot Password?
              </a>
            </label><br>
            <!--button class="first-screen__submit" type="submit">Sign in</button>-->
            <a routerLink="/main" class="first-screen__submit">Sign in</a>
            <br>

            <p>New User?</p>
            <a routerLink="/new-user" class="first-scdreen__link">Sign Up Here</a>
          </form>
        </section>
      </main>

      <footer class="footer"></footer>
    </div>
  </div>
</body>

