.first-screen {
  padding-top: 130px;
  padding-right: 20px;
  padding-left: 20px;
  height: 100vh;
  background-image: url("../../../assets/Img/clouds.jpg");
  background-color: #fff;
  background-position: unset;
  background-size: cover;
}

.first-screen__caption {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: -1.5px;
  font-weight: 600;
  color: #D6DBFA;
  text-align: center;
}

.first-screen__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.first-scdreen__label {
  padding-bottom: 20px;
  font-size: 16px;
  color: #212121;
}

.first-screen__input {
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  margin-bottom: 5px;
  width: 100%;
  height: 32px;
  border: 1px solid #2562DC;
  border-radius: 3px;
}

.first-scdreen__link {
  font-size: 12px;
  font-weight: 600;
  color: #4455BB;
}

.first-screen__submit {
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #49556F;
  border: 1px solid #49556F;
  border-radius: 5px;
  opacity: 0.9;
}

.first-screen__submit:hover {
  opacity: 1;
}
