.main-page {
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
  background-color: #4398e7;
  background-position: top;
  background-size: cover;
}

.main-page__user {
  margin-bottom: 20px;
  padding: 5px;
  font-size: 1.1em;
  font-weight: 600;
  color: #2E2C2C;
  background-color: #fff;
  border-radius: 3px;
}

.notifications {
  margin-bottom: 20px;
}

.notifications__caption {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.notifications__list {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.carousel__buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.carousel__button {
  color: #fff;
  font-size: 40px;
  background-color: #4398e7;
  border: none;
}

.checklist {
  margin-bottom: 20px;
}

.checklist__caption {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.checklist__container {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.non-pin {
  margin-bottom: 20px;
}

.non-pin__caption {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.non-pin__form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.non-pin__item {
  margin-bottom: 5px;
}
.non-pin__item input {
  width: 100%;
}

.non-pin__input {
  padding: 5px;
}
.non-pin__input :last-child {
  margin-bottom: 10px;
}

.non-pin__input:last-child {
  margin-bottom: 10px;
}

.non-pin__button {
  display: block;
  padding: 10px;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  background-color: #49556F;
  border-radius: 3px;
  opacity: 0.9;
}

.non-pin__button:hover {
  opacity: 1;
}

.notepad {
  margin-bottom: 20px;
}

.notepad__caption {
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.notepad__container {
  padding: 20px;
  background-color: #fff;
  border-radius: 3px;
}

.notepad__tense {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color: #2562DC;
}

.notepad__date {
  font-size: 0.8em;
  font-weight: 600;
}

.notepad__time {
  font-size: 0.8em;
  font-weight: 600;
}

.notepad__text {
  font-size: 1.1em;
  text-align: justify;
}

.carousel__button {
  display: flex;
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.carousel__button:hover {
  opacity: 1;
}

.carousel__button--back {
  background-image: url("../../../assets/Img/back.png");
}

.carousel__button--forward {
  background-image: url("../../../assets/Img/forward.png");
}

.state {
  margin-bottom: 20px;
}

.state__caption {
  margin-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.state__cover {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
}

.state__buttons {
  display: flex;
  justify-content: space-around;
}

.state__button {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  opacity: 0.8;
}
.state__button--green {
  background-color: green;
}
.state__button--yellow {
  background-color: yellow;
}
.state__button--red {
  background-color: red;
}
.state__button a {
  display: block;
  width: 40px;
  height: 40px;
}

.state__button:hover {
  opacity: 1;
}

.emergency__submit {
  margin-bottom: 20px;
  background-color: rgb(212, 35, 35);
  border-radius: 5px;
  opacity: 0.9;
}
.emergency__submit a {
  display: block;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.emergency__submit:hover {
  opacity: 1;
}

.submit__caption {
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.submit__camera {
  border: 1px solid black;
  border-radius: 2px;
  margin-bottom: 20px;
}

.submit__button {
  display: flex;
}

.main--second_screen {
  background-image: none;
  background-color: #76a1f8;
  background-position: top;
  background-size: cover;
}

@media (min-width: 768px) {
  .carousel__button {
    width: 70px;
    height: 70px;
    background-size: 70px;
  }
  .state__cover {
    padding: 30px;
  }
  .state__button {
    width: 60px;
    height: 60px;
  }
}